.App {
  margin: 0;
  padding: 0;
}

.App h1 {
  color: #4d5258;
  text-align: center;
}

.input-form-field {
  margin: 30px auto;
  padding: 40px;
  width: 480px;
  height: 400px;
  border: none;
  border-radius: 12px;
  background-color: rgb(3, 3, 35);
  color: #fff;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.input-field input {
  margin: 15px 0;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.calu-field {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.number-of-people button,
.number-of-people span {
  margin-left: 20px;
}

.btn-left {
  background-color: green;
  border: none;
  border-radius: 4px;
}

.btn-right {
  background-color: red;
  border: none;
  border-radius: 4px;
}

.per-person p {
  color: #fff;
  font-size: 20px;
}
